<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--WINDOWSKIN—存储习惯的皮肤-->
    <add key="WINDOWSKIN" value="MSN.ssk"/>

    <!--水价变更提前提醒天数-->
    <add key="CHANGEMETERTYPETIPDAY" value="10"/>

    <!--USERNAME—自动记录最后一次登录成功的用户名-->
    <add key="USERNAME" value="admin"/>

    <!--VERSION—升级用的版本号-->
    <add key="VERSION" value="1.0.0.1"/>

    <!--数据库连接配置-->
    <add key="connStringServerIP" value="127.0.0.1\sql2008"/>
    <add key="connStringDataSourceName" value="WATERMANAGE"/>
    <add key="connStringLoginName" value="sa"/>
    <add key="connStringPWD" value="sa"/>

    <!--HANDSETCOM—抄表机串口号-->
    <add key="HANDSETCOM" value="1"/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
