*.log
*.pdb
*.bak
*.dll
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Rr]efactor*/
[Oo]bj/
*.cache
*.vspscc
_ReSharper*/
*.dll
*.FileListAbsolute.txt
*/obj/
*.txt
bld/
build/
[Rr]eleases/
[Dd]ebugPublic/
TestResult.xml
*.VisualState.xml
*.mdf
*.*.*.txt
AppManage/obj/Debug/AppManage.csproj.FileListAbsolute.txt
ApproveCenter/obj/Debug/ApproveCenter.csproj.FileListAbsolute.txt
BASEMANAGE/obj/Debug/BASEMANAGE.csproj.FileListAbsolute.txt
BLL/obj/Debug/BLL.csproj.FileListAbsolute.txt
Common/obj/Debug/Common.csproj.FileListAbsolute.txt
Common_UserControls/obj/Debug/Common_UserControls.csproj.FileListAbsolute.txt
DBinterface/obj/Debug/DBinterface.csproj.FileListAbsolute.txt
DBUtility/obj/Debug/DBUtility.csproj.FileListAbsolute.txt
INVOICEMANAGE/obj/Debug/INVOICEMANAGE.csproj.FileListAbsolute.txt
MeterBusiness/obj/Debug/MeterBusiness.csproj.FileListAbsolute.txt
MeterInstall/obj/Debug/MeterInstall.csproj.FileListAbsolute.txt
METERREADINGMACHINE/obj/Debug/METERREADINGMACHINE.csproj.FileListAbsolute.txt
MODEL/obj/Debug/MODEL.csproj.FileListAbsolute.txt
PersonalWork/obj/Debug/PersonalWork.csproj.FileListAbsolute.txt
STATISTIALREPORTS/obj/Debug/STATISTIALREPORTS.csproj.FileListAbsolute.txt
SysControl/obj/Debug/SysControl.csproj.FileListAbsolute.txt
SYSMANAGE/obj/Debug/SYSMANAGE.csproj.FileListAbsolute.txt
WaterBusiness/obj/Debug/WaterBusiness.csproj.FileListAbsolute.txt
WATERFEEMANAGE/obj/Debug/WATERFEEMANAGE.csproj.FileListAbsolute.txt
WATERMIS/bin/Debug/WATERMIS.vshost.exe.Config
WATERMIS/obj/Debug/WATERMIS.csproj.FileListAbsolute.txt
WATERUSERMETERMANAGE/obj/Debug/WATERUSERMETERMANAGE.csproj.FileListAbsolute.txt
WorkFlow/obj/Debug/WorkFlow.csproj.FileListAbsolute.txt
