<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据库连接配置-->
    <add key="connStringServerIP" value="127.0.0.1\sql2008"/>
    <add key="connStringDataSourceName" value="WATERMANAGE2015"/>
    <add key="connStringLoginName" value="sa"/>
    <add key="connStringPWD" value="123321"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>